.button {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    color: white;
    width: clamp(20px, 68%, 400px);
    aspect-ratio: 4.52 / 1;
    background: #497E45;
    border-radius: clamp(10px, 2vw, 12px);
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    padding: 0 16px; /* 여백을 주어 아이콘과 텍스트가 겹치지 않도록 조정 */
    cursor: pointer; 
}
  
  .text {
    margin-right: 8px; /* 아이콘과 텍스트 사이에 간격을 추가 */
  }
  
  .arrow {
    display: flex;
    justify-content: center; /* 화살표도 가로로 가운데 정렬 */
    align-items: center; /* 화살표도 세로로 가운데 정렬 */
  }
  