.container {
  margin: auto;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: clamp(50px, 100%, 500px);
  font-family: "Pretendard-Regular";
}

.titleContainer{
  display: flex;
  margin: 0 14%;
}

.title {  
  font-family: 'Pretendard-Regular';
  padding: clamp(30px,20%,50px) 0 clamp(12px, 3%, 20px) clamp(4px, 2vw, 12px);
  font-size: clamp(24px, 4.8vw, 36px);
  font-weight: bold;
  text-align: left;
}


.context {
  font-family: "Pretendard-Regular";
  font-size: clamp(12px, 3.2vw, 16px);
  font-weight: bold;
  text-align: left;
  margin: 0 14%;
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  justify-content: center;
  align-items: center; /* Center horizontally */
  text-align: center;
  padding: clamp(30px, 16%, 50px) 0 clamp(12px, 3%, 20px) 0;
  gap: clamp(30px, 16%, 50px);
}

.backButton {
  margin-top: 10px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px; /* 하단 여백 추가 */
}
.emptyMessage{
  font-family: "Pretendard-Regular";
  font-size: clamp(12px, 3.2vw, 16px);
  font-weight: bold;
  text-align: left;
  margin: 0 14%;
  margin-top:15%;
}