.list {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-between; /* 가로 가운데 정렬 */
    color: black;
    width: 88%;
    aspect-ratio: 5.5 / 1;
    background: #FFFFFF;
    border-radius: clamp(10px, 2vw, 12px);
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    cursor: pointer; 
    border-radius: 2.5vw;
    padding: 0 6%;
    margin: 5% 0;
    box-shadow : 0px 2px 2px #00000040;
}

.img{
  width: 10%;
}
.img:hover,
.img:active{
  transform: scale(0.96);
  transition: transform 0.1s ease;
}

.imgarrow {
  animation : moveRight 2s infinite ease-in-out;
 width : 10%;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1vw); /* 오른쪽으로 살짝 이동 */
  }
  100% {
    transform: translateX(0); /* 다시 원래 위치로 */
  }
}