.list {
  background-color: #497e45;
  width: 62%;
  height: 80%;
  display: grid;
  justify-items: end; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  text-align: center;
  border-radius: clamp(10px, 3vw, 20px);
  margin: 4% 14% 0 14%;
  padding: clamp(12px, 5%, 20px) 5%;
  box-shadow: 2px 2px 4px #00000040;
}
.year {
  color: white;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center;
  text-align: center;
  width: 100%; /* 필요한 경우 부모 크기에 맞추기 */
  height: auto; /* 콘텐츠 크기에 따라 높이 조정 */
  font-weight: 700;
  font-size: clamp(23px, 2vw, 24px); /* 폰트 크기 증가 */
}
.array {
  color: black;
  display: flex;
  flex-direction: column; /* 아래로 나열 */
  align-items: center;
  text-align: center;
  height: auto; /* 콘텐츠 크기에 따라 높이 조정 */
  font-weight: 500;
  padding : clamp(4px, 1.6vh, 12px);
}
.text{  
  width:100%;
  margin-top:10px;
  background-color: white;
  border-radius: clamp(10px, 3vw, 20px);
}
.item {
  display: flex;
  justify-content: space-between; /* 텍스트와 아이콘을 양쪽에 배치 */
  align-items: center;
  padding: 4px 0;
  width : 80%;
}
.itemtem{
  font-size: clamp(12px, 2vw, 24px); /* 글씨 크기 추가로 조정 */
}
.icon {
  margin-top:4px;
  font-size: clamp(12px, 2.4vw, 24px); /* 글씨 크기 추가로 조정 */
}
