.SmallButton {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  color: white;
  width: clamp(10px, 23.5vw, 200px); /* 너비 */
  aspect-ratio: 3.1 / 1; /* 너비에 맞춰 높이 비율 자동 계산 */
  background: #497E45;
  border-radius: clamp(10px, 4vw, 16px);
  font-family: 'Pretendard-Regular';
  font-weight: bold;
  font-size: small;
  cursor: pointer; 
  
}
